/* Vue v-cloak directive
 ========================================================================== */
[v-cloak] { display: none; }

/* Ionic bundle
 ========================================================================== */
@import "~@ionic/core/css/core.css";
@import "~@ionic/core/css/ionic.bundle.css";

/* Ionic theme vars
 ========================================================================== */
:root {

  // Ionic vars
  --ion-color-primary: #5D148C;
  --ion-color-primary-rgb: 93,20,140;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #52127b;
  --ion-color-primary-tint: #6d2c98;

  --ion-color-secondary: #F2C94C;
  --ion-color-secondary-rgb: 242,201,76;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d5b143;
  --ion-color-secondary-tint: #f3ce5e;

  --ion-color-tertiary: #9B51E0;
  --ion-color-tertiary-rgb: 155,81,224;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #8847c5;
  --ion-color-tertiary-tint: #a562e3;

  // Custom color vars
  --ion-color-blurple: #6863e5;
  --ion-color-blurple-rgb: 104,99,229;
  --ion-color-blurple-contrast: #ffffff;
  --ion-color-blurple-contrast-rgb: 255,255,255;
  --ion-color-blurple-shade: #5c57ca;
  --ion-color-blurple-tint: #7773e8;

  --ion-color-bright: #FF26A8;
  --ion-color-bright-rgb: 255,38,168;
  --ion-color-bright-contrast: #ffffff;
  --ion-color-bright-contrast-rgb: 255,255,255;
  --ion-color-bright-shade: #e02194;
  --ion-color-bright-tint: #ff3cb1;

  --ion-color-system: #3880ff;
  --ion-color-system-rgb: 56,128,255;
  --ion-color-system-contrast: #ffffff;
  --ion-color-system-contrast-rgb: 255,255,255;
  --ion-color-system-shade: #3171e0;
  --ion-color-system-tint: #4c8dff;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  // Horizontal gradients
  --primary-horizontal-gradient: linear-gradient(270deg, #471B74 0, #713682 80%, #AA2986 100%), var(--ion-color-primary) !important;
  --primary-horizontal-gradient-state: linear-gradient(270deg, #471B74 0, #713682 50%, #AA2986 100%), var(--ion-color-primary-tint) !important;
  --secondary-horizontal-gradient: linear-gradient(270deg, #F5DE79 0, #F2C94C 36%, #EEB952 55%, #E49062 100%), var(--ion-color-secondary) !important;
  --secondary-horizontal-gradient-state: linear-gradient(270deg, #F5DE79 0, #F2C94C 36%, #EEB952 80%, #E49062 100%), var(--ion-color-secondary-tint) !important;
  --blurple-horizontal-gradient: linear-gradient(270deg, #9B51E0 0%, #2A82EC 55%, #28CAED 100%), var(--ion-color-blurple) !important;
  --blurple-horizontal-gradient-state: linear-gradient(270deg, #9B51E0 0%, #2A82EC 30%, #28CAED 100%), var(--ion-color-blurple-tint) !important;
  --bright-horizontal-gradient: linear-gradient(270deg, #FF26A8 0, #F2C94C 100%), var(--ion-color-bright) !important;
  --bright-horizontal-gradient-state: linear-gradient(270deg, #FF26A8 0, #F2C94C 80%), var(--ion-color-bright-tint) !important;
  --purple-horizontal-gradient: linear-gradient(270deg, #471B74 55%, #7D35F3 100%), var(--ion-color-primary) !important;
  --purple-horizontal-gradient-state: linear-gradient(270deg, #471B74 30%, #7D35F3 100%), var(--ion-color-primary-tint) !important;

  // Vertical gradients
  --primary-vertical-gradient: linear-gradient(180deg, #471B74 0, #713682 80%, #AA2986 100%), var(--ion-color-primary) !important;
  --primary-vertical-gradient-state: linear-gradient(180deg, #471B74 0, #713682 50%, #AA2986 100%), var(--ion-color-primary-tint) !important;
  --secondary-vertical-gradient: linear-gradient(180deg, #F5DE79 0, #F2C94C 36%, #EEB952 55%, #E49062 100%), var(--ion-color-secondary) !important;
  --secondary-vertical-gradient-state: linear-gradient(180deg, #F5DE79 0, #F2C94C 36%, #EEB952 80%, #E49062 100%), var(--ion-color-secondary-tint) !important;
  --blurple-vertical-gradient: linear-gradient(180deg, #9B51E0 0%, #2A82EC 55%, #28CAED 100%), var(--ion-color-blurple) !important;
  --blurple-vertical-gradient-state: linear-gradient(180deg, #9B51E0 0%, #2A82EC 30%, #28CAED 100%), var(--ion-color-blurple-tint) !important;
  --bright-vertical-gradient: linear-gradient(180deg, #FF26A8 0, #F2C94C 100%), var(--ion-color-bright) !important;
  --bright-vertical-gradient-state: linear-gradient(180deg, #FF26A8 0, #F2C94C 80%), var(--ion-color-bright-tint) !important;
  --purple-vertical-gradient: linear-gradient(180deg, #471B74 55%, #7D35F3 100%), var(--ion-color-primary) !important;
  --purple-vertical-gradient-state: linear-gradient(180deg, #471B74 30%, #7D35F3 100%), var(--ion-color-primary-tint) !important;

  // --purple-radial-gradient: radial-gradient(90.14% 73.52% at 50% 27.42%, #aa2986 0%, #751a8a 27.08%, #5d148c 66.15%, #471b74 100%) !important;
  --purple-radial-gradient: radial-gradient(61.96% 51.91% at 51.68% 71.93%, #aa2986 0%, #8c3084 14%, #783482 27%, #713682 36%, #471b74 90%) !important;
  --secondary-radial-gradient: radial-gradient(78.13% 78.13% at 50% 50%, #F5DE79 0%, #F2C94C 35.94%, #E49062 100%);

}

/* Global Ionic customizations
 ========================================================================== */

 // Alerts
 ion-alert {
  ion-radio, ion-checkbox {
    --color-checked: var(--ion-color-system);
  }
  .alert-button {
    --ion-color-primary: var(--ion-color-system);
    &.secondary {
      color: var(--ion-color-dark, #222428) !important
    }
    &.danger {
      color: var(--ion-color-danger, #f04141) !important;
    }
  }
  .alert-button-inner {
    .alert-checkbox-icon,
    .alert-checkbox-label,
    .alert-radio-icon,
    .alert-radio-label {
      --ion-color-primary: var(--ion-color-system);
    }
  }
}

// Avatars
ion-avatar {
  text-align: center;
  // Add stylling for ion-icon in ion-avatar
  > ion-icon  {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    width: 50%;
    height: 50%;
    // z-index: 3;
  }
}

// Buttons
ion-button {
	--border-radius: 20vw;
	ion-fab-button {
	  &.opacity-button {
	    --opacity: 0.8;
	    --background-activated-opacity: 1;
	    --background-hover-opacity: 1;
	    &:active,
	    &:focus,
	    &:hover {
	      --opacity: 1;
	    }
	  }
	}
}

.subscription_dialog {
  .alert-wrapper {
    border-radius: 15px;
    .alert-button-group{
      justify-content: space-between;
      .confirm_button{
        background-color: #5D148C;
        color: white;
        border-radius: 30px;
      }
      .return_button{
        color: #5D148C;
      }
    }
  }
}

// Custom color classes
.ion-color-blurple {
  --ion-color-base: var(--ion-color-blurple);
  --ion-color-base-rgb: var(--ion-color-blurple-rgb);
  --ion-color-contrast: var(--ion-color-blurple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blurple-contrast-rgb);
  --ion-color-shade: var(--ion-color-blurple-shade);
  --ion-color-tint: var(--ion-color-blurple-tint);
}

.ion-color-bright {
  --ion-color-base: var(--ion-color-bright);
  --ion-color-base-rgb: var(--ion-color-bright-rgb);
  --ion-color-contrast: var(--ion-color-bright-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bright-contrast-rgb);
  --ion-color-shade: var(--ion-color-bright-shade);
  --ion-color-tint: var(--ion-color-bright-tint);
}

.ion-color-system {
  --ion-color-base: var(--ion-color-system);
  --ion-color-base-rgb: var(--ion-color-system-rgb);
  --ion-color-contrast: var(--ion-color-system-contrast);
  --ion-color-contrast-rgb: var(--ion-color-system-contrast-rgb);
  --ion-color-shade: var(--ion-color-system-shade);
  --ion-color-tint: var(--ion-color-system-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

/* Import custom CSS
 ========================================================================== */
@import "./backgrounds.scss";
@import "./forms.scss";
@import "./genders.scss";
@import "./songstory.scss";
@import "./toolbar.scss";
@import "./typography.scss";
@import "./utilities.scss";
